body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}
p {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1cap;
    margin: auto;
}
header{
    margin-left: 50%;
}
ul{
    font-size: larger;
}
body{
    background-image: url(EPts.gif);
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}